.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -75px;
}

.container-fluid {
  background-image: url('https://i.pinimg.com/originals/71/dd/00/71dd009941483e190e7c1d90867268ff.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

button {
  height: 108px;
}

.col-10 {
  display: flex;
  align-items: center;
}

.main-container {
  background-color: rgba(255, 252, 245, 0.4);
  border-style: none;
  border-radius: 50px;
  width: 700px;
  height: 450px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container > .column > h2 {
  margin-bottom: 40px;
  font-size: 40px;
  color: black;
}

.main-container > .column > .temp {
  margin-bottom: 40px;
  font-size: 50px;
  color: black;
}

.main-container > .column > h3 {
  font-size: 30px;
  color: black;
}